[user]
	email = gaba.becker@gmail.com
	name = gabrielbecker
[core]
	excludesfile = /home/gabriel/.gitignore
[format]
	pretty = format:%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s
[log]
	date = relative
[push]
	default = simple
